body{
    display: inline-block
}
.sidebar{
    display: flex;
    flex-direction: column;
}
.search{
    display: inline-block;
}
.previous{
    display: flex;
    flex-direction: column;
}
.results{
    display: flex;
    flex-direction: column;
}
.forecast{
    display: inline-block;
}